*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
	float: left;
	line-height: 70px;
	margin-top: 10px;
}

.Who-we-are{
	width: 100%;
	padding: 10px 0px 50px 0px;
	background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)), url(../img/2g.gif);
	background-size: cover;
	clear: both;
	float: left;
	margin-bottom: 10px;
}

.Who-we-are .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #8B8889;
}

.Who-we-are .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color: #fff;
	margin-bottom: 15px;
}

.Who-we-are .col-1{
	width: 33.333%;
	float: left;
	padding: 0px 10px;
	
}

.Who-we-are .col-1 img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.Who-we-are .col-1 .text-box{
	padding: 10%;
	background-color: #f3f3f3;
	width: 100%;
	text-align: center;
}

.Who-we-are .col-1 .text-box h4{
	margin-bottom: 9px;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.Who-we-are .col-1 .text-box p{
	color: #727272;
	line-height: 23px;
	text-align: center;
	margin: 0 0 10px;
	font-size: 14px;
}