*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}

.container{
	width: 100%;
	height: auto;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
	float: left;
	line-height: 70px;
	margin-top: 10px;
}

.contact-us{
	width: 100%;
	padding: 10px 0px 50px 0px;
	color: #565656;
	background-size: cover;
	clear: both;
	float: left;
	margin-top: 1px;
	background-image: url(../img/pc.gif);
	height: 700px;
	
}

.contact-us .heading h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
}

.contact-us .heading p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    color: #fff;
    margin-bottom: 35px;
}

.content{
    display: flex;
    
 }

.content section{
    padding: 15px;
    margin-left: 20vh;

}

.content-form{
    margin-top: 4rem;
    float: right;
    color: #fff;

}

section i{
    border-radius: 50%;
    width: 40px;
    height: 35px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    text-align: center;
}

.form{
    display: flex;
    position: absolute;
    top: 5rem;
    left: 15rem;
    margin-left: 50vh;
    min-height: 120vh;
    align-items: center;
    color: #fff;
}

.form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    color:#fff;
}

.form .contact-form input ~ span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}

.form .contact-form input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}

.form .contact-form textarea{
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
}

.form .contact-form textarea ~ span
{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}

.form .contact-form textarea:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}

.form .contact-form input[type=submit]{
    background-color: #00dbdb;
    border: 2px solid #00dbdb;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;
    color: #fff;
}

.form .contact-form input[type=submit]:hover{
    background-color: transparent;
    color: #00dbdb;
}

.media{
    position: absolute;
    top: 30vh;
    right: 65vh;
    display: flex;
    list-style: none;
}
.media li{
    margin: 20px 30px;
    color: #fff;
}
@media screen and (max-width: 900px){
    body{
        background-repeat: repeat-y;
        overflow: auto;
    }
    header{
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }
    .empty{
        height: 210vh;
    }
    .form{
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .content section{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    .media{
        position: absolute;
        top: 190vh;
        right: 30px;
    }
}


.icons a{
  background: #ecf0f3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  top: 10px;
  right: 20PX;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #000000,
              3px 3px 5px #000000;
}
.icons a:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.icons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}
.icons a:hover i{
  transform: scale(0.9);
}
.icons a.fb i{
  color: #4267B2;
}
.icons a.twitter i{
  color: #1DA1F2;
}
.icons a.insta i{
  color: #E1306C;
}
.icons a.wapp i{
  color: green;
}

