*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
  float: left;
  line-height: 70px;
  margin-top: 10px;
  }
  
.slider
{
	width: 100%;
	height: 400px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/paris.gif);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;

}

.slider .title{
	width: 40%;
	height: auto;
	position: absolute;
	left: 18.5%;
}

.slider .title h1{
	font-size: 45px;
	color: #fff;
	line-height: 50px;
}
.slider .title h1 span{
	color: #00dbdb;
}

.slider .title p{
	font-size: 14px;
	color: #fff;
	line-height: 1.4;
	margin-top: 15px;
	padding-right: 20px;
}

.slider .title .btn{
	color: #fff;
	background-color: #00a8a8;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 15px;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	transition: 0.3s all;
}

.slider .title .btn:hover{
	background-color: #8a8a8a;
}

.flex-container{
	margin-top: 80px;
	clear: both;
	flex-direction: left;
}



.flex-items2{
	width: 33.06%;
	height: auto;
	float: left;
	padding: 5.5px;
}

.flex-items2 h6{
	letter-spacing: 3px;
	font-size: 13px;
	margin-bottom: 1px;
	color: #00a8a8;
}

.flex-items2 h3{
	color: #272727;
	font-size: 23px;
	line-height: 25px;
	letter-spacing: 0.5px;
	margin-bottom: 1px;
}

.flex-items2 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}

.flex-items2 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 17px;
}

.flex-items2 .zoom img{
	max-width: 100%;
}

.title-line{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}

.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.para{
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px;
}

.margin-top-1{
	float: left;
	margin-top: 10px;
	width: 100%;
}


.blog-card{
  position: absolute;
  height: 350px;
  width: 205%;
  max-width: 830px;
  margin: auto;
  top: 930px;
  border-radius: 25px;
  background: pink;
  box-shadow: 0px 10px 50px rgba(252,56,56,.3);
  left: 40px;
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content span{
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content .text{
  color: #4e4a67;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5em;
  text-align: justify;
}
.content button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fd3535;
  background: linear-gradient(147deg, #fe8a39  0%, #fd3838 74%);
}
.content button:hover{
  background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}

.wrapper{
  height: 300px;
  width: 320px;
  position: relative;
  top: 330px;
  left: 880px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #000;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face .info{
  text-align: center;
  color: #fff;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.flex-contain{
	margin-top: 80px;
	clear: both;
	flex-direction: right;
	position: relative;
	top: 330px;
}



.flex-items3{
	width: 33.06%;
	height: auto;
	float: right;
	padding: 5.5px;
}

.flex-items3 h6{
	letter-spacing: 3px;
	font-size: 14px;
	margin-bottom: 1px;
	color: #00a8a8;
	text-align: right;
}

.flex-items3 h3{
	color: #272727;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	text-align: right;
}

.flex-items3 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}

.flex-items3 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
}

.flex-items3 .zoom img{
	max-width: 100%;
}

.title-lin{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}

.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.paraa{
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px;
}

.margin-top-2{
	float: left;
	margin-top: 10px;
	width: 100%;
}











.wrapper1{
  height: 300px;
  width: 320px;
  position: relative;
  top: 330px;
  right: 10px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper1 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #00dbdb;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper1:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper1 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper1 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper1:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper1 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper1 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.wrapper2{
  height: 300px;
  width: 320px;
  position: relative;
  top: 1px;
  margin-left: 450px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper2 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: grey;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper2:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper2 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper2 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper2:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper2 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper2 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.wrapper3{
  height: 300px;
  width: 320px;
  position: relative;
  top: 1px;
  left: 460px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper3 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #00dbdb;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper3:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper3 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper3 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper3:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper3 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper3 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}


.wrapper4{
  height: 300px;
  width: 320px;
  position: relative;
  top: 360px;
  left: 3px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper4 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: grey;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper4:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper4 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper4 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper4:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper4 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper4 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.wrapper5{
  height: 300px;
  width: 320px;
  position: relative;
  top: 1px;
  right: 460px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper5 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #00dbdb;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper5:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper5 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper5 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper5:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper5 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper5 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}


.wrapper6{
  height: 300px;
  width: 320px;
  position: relative;
  top: 1px;
  right: 450px;
  transform-style: preserve-3d;
	perspective: 1000px;
}
.wrapper6 .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: grey;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper6:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper6 .card h1{
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 100px;
}
.wrapper6 .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper6:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper6 .back-face .info{
  text-align: center;
  color: #fff;
}
.wrapper6 .back-face .info .title{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
