*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: auto;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
	float: left;
	line-height: 70px;
	margin-top: 10px;
}

.gallery 
{
	width: 1280px;
	margin: 20px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: url(../img/G.gif);
}

.gallery .box
{
	position: relative;
	width: 400px;
	height: 200px;
	background: #fff;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 40px;

}

.gallery .box .imgbox{
	position: relative;
	overflow: hidden;
}

.gallery .box .imgbox img{
	width: 400px;
	height: 200px;
	object-fit: cover;
	transition: transform 2s;
}

.gallery .box:hover .imgbox img{
	transform: scale(1.2);

}

.gallery .box .details{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}

.gallery .box:hover .details{
	transform: scaleY(1);
     
}

.gallery .box .details .content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 100px;
	color: #fff;
}

.gallery .box .details .content h2{
	margin: 0;
	padding: .0;
	font-size: 20px;
	color: #00dbdb;

}

.gallery .box .details .content p{
	margin: 10px 0 0;
	padding: 0;
}