
	.text{

		height: 25px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #aaa;
		width: 100%;
	}

	.button{

		padding: 10px;
		width: 100px;
		color: white;
		background-color: #00dbdb;
		border: none;
	}

	.box{

		background-color: black;
		margin: auto;
		width: 450px;
		height: 400px;
		padding: 30px;
		align-items: center;


	}

	


