@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  padding: 50px;
  text-align: center;
}
.container{
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0px auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  background: linear-gradient(180deg,grey,skyblue,grey);
  display: inline-block;
}
.container:hover{
  height: 440px;
  width: 330px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}
.container .wrapper img{
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.container:hover .wrapper img.active{
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper .title{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}
.wrapper .place{
  color: #fff;
  font-size: 17px;
  line-height: 0px;
  margin: 10px 0;
}
.content{
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px!important;
}
.content .buttons{
  display: flex;
}
.buttons .btn{
  height: 40px;
  width: 150px;
  margin: 0 5px;
}
.buttons .btn button{
  height: 100%;
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn button:hover{
  transform: scale(0.95);
}
.container .icons{
  position: relative;
  margin-top: -435px;
  margin-left: 10px;
  list-style: none;
}
.container .icons.active{
  display: none;
}
.container .icons li{
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.container:hover .icons li{
  opacity: 1;
  margin-left: 7px;
}
.container:hover .icons li:nth-child(2){
  transition-delay: 0.2s;
}
.container:hover .icons li:nth-child(3){
  transition-delay: 0.4s;
}
.container .icons li a{
  color: black;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.container .icons li a:hover{
  transform: scale(0.9);
}




.contain1{
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main{
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

nav{
  width: 100%;
  height: 150px;
  background-color: #fff;

}

nav ul{
  float: right;
  position: relative;
  bottom: 15px;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  position: relative;
  bottom: 50px;
}

nav ul li a{
  text-decoration: none;
  color: #272727;
  line-height: 100px;
  padding: 15px 16px;
  font-size: 13px;
  letter-spacing: 0.8px;
}

nav ul li a:hover{
  background-color: #00dbdb;
}

.logo{
  float: left;
  line-height: 70px;
  position: relative;
  bottom: 40px;
}




.profile{
  width: 100%;
  height: 1000px;
  padding: 10px 0px 50px 0px;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/pbg1.gif);
  background-size: contain;
  clear: both;
  float: left;
  margin-bottom: 5px;
  position: relative;
  bottom: 80px;
}

.profile .heading h2{
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  text-decoration-color: black;
  text-shadow: 2px 2px #000;
}

.profile .heading p{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  color: #fff;
  margin-bottom: 15px;
  text-decoration-color: black;
  text-shadow: 2px 2px #000;
}