*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.contain{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
	float: left;
	line-height: 70px;
	margin-top: 10px;
}

.container
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 500px;
}
.container .box
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 60px 0;
	left: 40px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: currentColor;
	background-color: white;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box:hover .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
	color: black;
}
.container .box .content a
{
	text-decoration: none;
	background: black;
	color: #fff;
	padding: 5px;
	display: inline-block;
    margin-top: 20px;
}
.container .box .content p{
	color: black;
	margin-top: 10px;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.9s;
}
 
 .head h1{
 	margin-top: 10px;
 	position: absolute;
 	left: 500px;
 	color:  black;
 	text-decoration-color: white;
 	text-shadow: 2px 2px #fff;

 }

