*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

nav{
	width: 100%;
	height: 100px;
	background-color: #fff;
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
	color: #272727;
	line-height: 100px;
	padding: 15px 15px;
	font-size: 13px;
	letter-spacing: 0.8px;
}

nav ul li a:hover{
	background-color: #00dbdb;
}

.logo{
  float: left;
  line-height: 70px;
  margin-top: 10px;
  }
  
.slider
{
	width: 100%;
	height: 530px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/home.gif);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;

}

.slider .title{
	width: 40%;
	height: auto;
	position: absolute;
	left: 18.5%;
}

.slider .title h1{
	font-size: 45px;
	color: #fff;
	line-height: 50px;
}
.slider .title h1 span{
	color: #00dbdb;
}

.slider .title p{
	font-size: 14px;
	color: #fff;
	line-height: 1.4;
	margin-top: 15px;
	padding-right: 20px;
}

.slider .title .btn{
	color: #fff;
	background-color: #00a8a8;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 15px;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	transition: 0.3s all;
}

.slider .title .btn:hover{
	background-color: #8a8a8a;
}

.flex-container{
	margin-top: 80px;
	clear: both;
	flex-direction: left;
}

.main .flex-container .flex-items{
	width: 20%;
	display: inline-block;
	text-align: center;
	margin-left: 46px;
}

.main .flex-container .flex-items h5{
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 20px 0px;
}

.main .flex-container .flex-items p{
	color: #727272;
}

.main .flex-container .flex-items .text-blue{
	font-size: 40px;
	color: #00a8a8;
}

.flex-items2{
	width: 33.06%;
	height: auto;
	float: left;
	padding: 5.5px;
}

.flex-items2 h6{
	letter-spacing: 3px;
	font-size: 16px;
	margin-bottom: 15px;
	color: #00a8a8;
}

.flex-items2 h3{
	color: #272727;
	font-size: 27px;
	line-height: 35px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}

.flex-items2 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}

.flex-items2 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 23px;
}

.flex-items2 .zoom img{
	max-width: 100%;
}

.title-line{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}

.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.para{
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px;
}

.margin-top-1{
	float: left;
	margin-top: 10px;
	width: 100%;
}